---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<header>
	<nav>
		<h2><a href={`${import.meta.env.BASE_URL}/`}>{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href={`${import.meta.env.BASE_URL}/`}>Home</HeaderLink>
			<HeaderLink href={`${import.meta.env.BASE_URL}/books/`}>Books</HeaderLink>
			<HeaderLink href={`${import.meta.env.BASE_URL}/about/`}>About</HeaderLink>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: #111;
		border-bottom: 3px solid var(--accent);
	}
	h2 {
		margin: 0;
		font-size: 1.2em;
	}
	h2 a,
	h2 a.active {
		text-decoration: none;
		color: #fff;
		font-weight: 800;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 960px;
		margin: 0 auto;
	}
	nav a {
		padding: 1em 0.5em;
		color: rgba(255, 255, 255, 0.8);
		border-bottom: 4px solid transparent;
		text-decoration: none;
		font-weight: 600;
		transition: color 0.2s;
	}
	nav a:hover {
		color: #fff;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
		color: #fff;
	}
</style>
